.container {
  margin: 0 auto;
}
.field {
  border-width: 0px;
}
.search-button {
  background-color: transparent;
  border: 1px solid #ddd;
  padding:  10px 30px;
  width: 100%;
  min-width: 350px;
  font-size: 14px;
}
.search-button:hover {
  background-color: #0066ff;
  color: #fff
}
.search-input {
  display: block;
  text-align: center;
  font-weight: 300;
  width: 100%;
  font-size: 25px;
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
}
.search-input:focus {
  border-bottom: 2px solid #0066ff;
}

p {
  text-align: center;
  font-weight: 300;
  width: 100%;
  font-size: 35px;
  font-family: Verdana;
}
